/* styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Additional custom styles can be added here */

/* Set the height of the profile menu */
body {
    padding-top: 60px; /* Adjust as needed based on your actual content */
}

/* Style the profile picture in the menu */
.navbar-avatar img {
    border-radius: 50%;
}

/* Style the navigation links in the profile menu */
.navbar-links a {
    color: #ffffff;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

.navbar-links a:hover {
    text-decoration: underline;
}
